@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: .4s;
   -webkit-transition: .4s;
   -moz-transition: .4s;
   -ms-transition: .4s;
   -o-transition: .4s;
   user-select: none;
}
html,
body {
   max-width: 100%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}
html {
   direction: rtl;
}
header+div,
header+section {
   margin-top: 150px;
}

section {
   padding: 48px 0px;
}

.active {
   @apply text-main-700;
}

.heading-title {
   @apply text-3xl font-bold text-main-700 text-center mb-12 hover:text-main-700;
}

.main-btn {
   @apply bg-gradient-to-l from-main-400 hover:from-main-600 hover:to-purple-600 to-purple-500 text-white p-2 text-2xl rounded-md;
}

ul li::marker {
   @apply text-main-700;
}
::-webkit-scrollbar {
   width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background-color: #2e26c4;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}